minimalbeispiel.bbl
minimalbeispiel.bcf
minimalbeispiel.blg
minimalbeispiel.idx
minimalbeispiel.ilg
minimalbeispiel.ind
minimalbeispiel.lof
minimalbeispiel.lol
minimalbeispiel.run.xml
minimalbeispiel.toc
minimalbeispiel.aux
minimalbeispiel.log
minimalbeispiel.out

