praesentation.bbl
praesentation.bcf
praesentation.blg
praesentation.idx
praesentation.ilg
praesentation.ind
praesentation.lof
praesentation.lol
praesentation.run.xml
praesentation.toc
praesentation.aux
praesentation.log
praesentation.out
praesentation.nav
praesentation.snm

